
    .bg {
        background-image: url(/network-4851079.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 40rem;
       transform: rotatex(360deg);
      }

    .body {
        text-align: center;
        background: rgba(0, 0, 0, .6);
        width: 70%;
        margin: auto;
        margin-top:10%;
      }

     